<%= form_with(model: @article, local: true , url: confirm_new_or_edit) do |form| %>
<% if @article.errors.any? %>
<div id="error_explanation">
  <h2><%= @article.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= form.label :タイトル %>
  <%= form.text_field :title ,class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :内容 %>
  <%= form.text_area :content , size: "20x10",class: 'form-control'%>
</div>
<div class="articles_content">
  <%= form.label :画像 %>
  <%= form.file_field :image %>
</div>
<%= form.submit name="登録"%>
<% end %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
